.footer {
    color: #fff;
    font-family: 'IBM Plex Mono', 'Noto Serif SC', 'monospace', 'serif';
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .navbar {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    color: var(--base-color);
  }

  @media (min-width:641px) {
    .footer {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }